
/* Your CSS Code here. */
nav {
	background-color: gray;
	padding: 5px;
}
ul {
	display: flex;
	gap: 30px;
	list-style-type: none;
}

h1 {
	text-align: center;
}

.video-container {
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

video {
	height: 200px;
	width: 400px;
}

a {
	text-decoration: none;
	color: white;
}